* {
  font-family: "Inter", sans-serif;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

// Custom style for carousel
.custom-dots {
  button {
    background-color: #c5cddb !important;
  }
}
